h1{
    text-align: center;
}

body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    background-image: url(../images/water.gif);
    background-size: 1200px;
    
}
img{
    
}