* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 10px;
  background: white;
  z-index: 999;
  margin-bottom: 15px;
  box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.75);
}

.navbar__logo {
  width: 60%;
}

.navbar__logo > a {
  color: black;
  cursor: pointer;
  font-size: 20px;
}

.navbar__links {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.navbar__links > a {
  color: black;
  font-size: 18px;
  cursor: pointer;
}

.home {
  width: 100%;
  margin-bottom: 30px;
}

.home__image {
  width: 100%;
}

.home__image > img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.row {
  color: black;
  margin-left: 30px;
  margin-top: 20px;
}

.books {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.books::-webkit-scrollbar {
  display: none;
}

.book {
  object-fit: contain;
  width: 150px;
  max-height: 200px;
  margin-right: 15px;
  transition: transform 450ms;
}

.book:hover {
  transform: scale(1.08);
}

.footer {
  padding: 5px;
  margin-top: 30px;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}

.footer__wrapper {
  display: flex;
  width: 80vw;
  align-items: center;
  justify-content: space-evenly;
}

.footer__social {
  height: 40px;
  width: 40px;
}

.footer > button {
  outline: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background: darkcyan;
  transition: 1.1s ease;
}

.footer > button:hover {
  background: white;
  color: darkcyan;
}

.footer > p {
  color: white;
}
