@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
}
:root{
--red:#59ff38;
}
body{ 
  background-color: orange;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;  
}
.heading{
  text-align: center;
  font-size: 3.5rem;
  padding:1rem;
  color:#666;
}

.heading span{
  color:var(--red);
}
.main{
width: 100%;
background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(/images/1.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 109vh;

}
.navbar{
width: 1200px;
height: 75px;
margin: auto;
}


.icon{
width: 200px;
float: left;
height: 70px;


}

.logo{
color: orange;
font-size: 35px;
padding-left: 20px;
float: left;
padding-top: 10px;
}
.menu{
width: 400px;
float: left;
height: 70px;

}
ul{
float: left;
display: flex;
justify-content: center;
align-items: center;
}
ul li{
list-style: none;
margin-left: 62px;
margin-top: 27px;
font-size: 14px;
}
ul li a{
text-decoration: none;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
transition: 0.4s ease-in-out;
}
ul li a:hover{
color:orange;

} 
.search{
  width: 330px;
  float: left;
  margin-left: 270px;
}
.srch{
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid orange;
  margin-top: 13px;
  color: orange;
  border-right: none;
  font-size: 17px;
  padding: 10px;

}

.btn{
  width: 100px;
  height: 40PX;
  background: orange;
  border: 2px solid orange ;
  margin-top: 13px;
  color: white;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;

}
.btn:focus{
  outline: none;

}
.srch:focus{
  outline: none;
}
.dropdown{
  display: none;
}
.menu ul li:hover .dropdown{
  display: block;
}
.about{
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT',;
  box-sizing: border-box;
}
.about{
  width: 100%;
  padding: 80px 0px;
  background-image: url(/images/background.png);
  
  
}
.about img{
  height: 450x;
  width: 500px;
}
.about-text{
  width: 550px;
}
.mains{
  width: 1130px;
  max-width: 95%;
  margin:100px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h1{
  color: orange;
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5{
  color: black;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
span{
  color: #f9004d;
}
.about-text p {
  color: black;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
/* trends*/
.container {
  padding: 0;
  width: 1280px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.container .box{
  position: relative;
  width: 300px;
  height: 300px;
  background: #ff0;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
    
}
.container .box .imgBox{
  position: relative;
  overflow: hidden;
}
.container .box .imgBox img{
   max-width: 100%;
   transition-duration: 2s;
}
.container .box:hover .imgBox img{
  transform: scale(1.2);
}
.pic1{
  height: 300px;
  width: 100%;
}
.container .box .details{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: pink;
  transform: scaleY(0);
  transition-duration: .5s;
}
.container .box:hover .details{
  transform: scaleY(1);
}
.container .box .details .content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;

}
.container .box .details .content h2{
   margin:0;
   padding: 0;
   font-size: 20px;
   color:orange;
}
.container .box .details .content p{
  margin:10px 0 0;
  padding: 0;
 
}
.trend{
  padding: 20px;
  text-align: center;
  font-size: larger;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  
}
/* gallarey*/
.most{
  margin: 10px;
  padding: 30px;
  text-align: center;
  font-size: larger;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background:black;
}
.container3 {
  padding: 0;
  width: 1280px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.container3 .box{
  position: relative;
  width: 300px;
  height: 300px;
  background: #ff0;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
    
}
.container3 .box .imgBox{
  position: relative;
  overflow: hidden;
}
.container3 .box .imgBox img{
   max-width: 100%;
   transition-duration: 2s;
}
.container3 .box:hover .imgBox img{
  transform: scale(1.2);
}
.pic1{
  height: 300px;
  width: 100%;
}
.container3 .box .details{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: black;
  transform: scaleY(0);
  transition-duration: .5s;
}
.container3 .box:hover .details{
  transform: scaleY(1);
}
.container3 .box .details .content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;

}
.container3 .box .details .content h2{
   margin:0;
   padding: 0;
   font-size: 20px;
   color:orange;
}
.container3 .box .details .content p{
  margin:10px 0 0;
  padding: 0;
}